html {
    overflow-y: scroll;
}

@font-face {
    font-family: "myriad_pro_bold";
    src: local("myriad_pro_bold"),
    url("./fonts/myriad_pro_bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "croma_sans_regular";
    src: url("./fonts/croma_sans_cufonfonts/Croma\ Sans\ Regular.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "croma_sans_medium";
    src: url("./fonts/croma_sans_cufonfonts/Croma\ Sans\ Medium.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "croma_sans_bold";
    src: url("./fonts/croma_sans_cufonfonts/Croma\ Sans\ Bold.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "croma_sans_thin";
    src: url("./fonts/croma_sans_cufonfonts/Croma\ Sans\ Thin.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "croma_sans_extra_light";
    src: url("./fonts/croma_sans_cufonfonts/Croma\ Sans\ Extra\ Light.otf") format("truetype");
    font-weight: normal;
}